* {
  margin: 1px;
}

body {
  margin: 5px;
}

table {
  width: 100%;
  table-layout: fixed;
}

th {
  text-align: left;
}

.center {
  text-align: center;
}

tbody > tr:nth-child(odd) {
  background: rgba(219, 219, 219, .3);
}

tbody > tr:nth-child(even) {
  background: rgba(182, 182, 182, .3);
}

#download-width {
  width: 10%;
}

#mime-width {
  width: 15%;
}

#url-width {
  width: 50%;
}

#bytes-width {
  width: 15%;
}

#time-left-width {
  width: 10%;
}

.url-column {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

[class*="-header"] {
  border: none;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: lightgrey;
  cursor: pointer;
}

/* Can't sort by this column. */
.time-left-header {
  cursor: initial;
}

[class*="-header"]:hover {
  background: rgba(182, 182, 182, .3);
}

iframe {
  visibility: hidden;
  width: 0;
  height: 0;
}

#grid {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-template-areas: "a . a"
                       "b b ."
                       "c c .";
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #ffffff;
  width: 100%;
  margin: 0;
  border-bottom: solid 1px #929292;
}

.pad-right {
  padding: 0 10px 0 0;
}

.center-vertical {
  margin: auto 0;
}

.url-text {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.mime-text {
  display: block;
  cursor: pointer;
}
