* {
  margin: 1px;
}

body {
  margin: 5px;
}

table {
  width: 100%;
}

th {
  text-align: left;
}

.center {
  text-align: center;
}

.download-column {
  width: 5%;
}

.mime-column {
  width: 15%;
}

.url-column {
  width: 45%;
}

.bytes-column {
  width: 15%;
}

.time-left-column {
  width: 15%;
}

[class*="-header"] {
  border: none;
}

#download-button {
}

#directory-button {
}

#save-link {
  visibility: hidden; 
}

#button-div {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #ffffff;
  width: 100%;
  height: 90px;
}

#table-div {
  padding-top: 90px;
}
